//position->display->allignment->bgcolor->textcolor->fontsize->margin->padding->animation
.bg{
    background-image: linear-gradient(white 500px, lightgrey);
    font-family: 'Manrope', sans-serif;
    overflow: hidden;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: calc(10% + 1em);
    padding-right: calc(10% + 1em);
    background-color: rgba(255,255,255,0.6);
    z-index: 15;
}

.navbar-nav li{
    margin-left: 2em;
    margin-right: 2em;
  }

.page-wrapper{
    margin-left: 10%;
    margin-right: 10%;
}

.header-wraper{
    // background-color: lightgrey;
    height: 100vh;
    padding: 8em 1em 1em 1em;
}

.headerBg{
    position: relative;
    width: 70%;
    z-index: 0;
    right: -30%;
    margin-top: 10%;
}

.title-box{
    position: absolute;
    display: inline-block;
    word-wrap: break-word;
    width: 684px;
    color: rgb(0, 110, 229);
    top: 24vh;
    left: 11.1%;
    z-index: 10;
}
.title-box p {
    font-size: 1.2em;
    margin-top: -2%;
}

.resume-link{
    display: inline-flex;
    gap: 1.2em;
}

.resume{
    width: 10em;
    background-color: rgb(0, 110, 229);
    color: white;
    padding-top: 6px;
    border-radius: 1.5em;
    text-align: center;
    text-decoration: none;
    border: none;
}

.resume:hover{
    background-color: white;
    border:rgb(0, 110, 229) solid 2px;
    text-decoration: none;
    animation-delay: 1000ms;
}

.walking{
    position: absolute;
    display: flex;
    width: 16%;
    top: 44vh;
    left: 40vw;
    animation: figure1 15s ease-in-out infinite alternate;
    animation-fill-mode:  forwards;
}

@keyframes figure1 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(20%);
    }
}

// .body-wrapper{
//     background-color: darkgrey;
// }

.section-divider{
    background-color: rgb(0, 110, 229);
    margin-left: calc(-15% + 1em);
    margin-right: calc(-15% + 1em);
    margin-top: 4.5em;
    margin-bottom: 3em;
}

.section-divider-text{
    display: hidden inline-block;
    color: white;
    animation: sliding-title 12s linear infinite  ;
}
  
  @keyframes sliding-title  {
    from {
        margin-left: 0%;
        width: 100%;
        height: 10%;
    } to {
        margin-left: 100%;
        width: 100%;
        height: 10%;
    }
  }

.project-container-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1em;
    height: 60vh;
    padding: 1em 1em 1em 1em;
}

.project-container-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    height: 50vh;
    padding: 1em;
    margin-top: 1.2em;
    margin-bottom: 6em;
}

.project-container-3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    height: 50vh;
    padding: 1em;
}

.project-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 0.8em;
    background-color: white;
    color: rgb(99, 99, 99);
    padding: 2em;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.project-box:hover{
    background-color: rgba(107, 107, 107, 0.1);
    box-shadow: 2em;
    transition-duration: 0.7s;
    transition-delay: 0.3s;
}

.project-box img{
    width: 60%;
}

.project-r{
    margin-left: 5%;
}
.project-l{
    text-align: center;
}

.goButton{
    width: 1%;
    background-color: rgb(0, 110, 229);
    color: white;
    border-radius: 10em;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

.project-box-tretiary{
    border-radius: 0.8em;
    background-color: white;
    color: rgb(99, 99, 99);
    padding: em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3em 1em 3em 1em;
}

.project-box-tretiary:hover{
    background-color: rgba(107, 107, 107, 0.05);
    transition-duration: 0.7s;
    transition-delay: 0.3s;
}

.project-box-tretiary img{
    width: 100%;
    border-radius: 0.5em;
    text-align: center;
}

.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // background-color: grey;
    margin-top: 15em;
    margin-left: 10%;
    margin-right: 10%;
    padding: 8em 1em 1em 1em;
}

.footer-wrapper p{
    font-size: 1em;
    margin-top: -1.5%;
}

.icon1{
    margin-left: 1em;
    margin-right: 2em;
}
.icon2{
    margin-left: 5.5em;
    margin-right: 2em;
}


@media (max-width:1000px) {
    .project-container-2{
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
    .project-container-3{
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
    }
    .project-box{
        margin-top: 1em;
    }
    .headerBg{
        display: none;
    }
    .walking{
        display: none;
    }
    .project-box p{
        display: none;
    }
    .project-box h1{
        font-size: 1.5em;
    }
    .project-box h4{
        font-size: 1em;
    }
}