.mainframe-container{
    display: grid;
    gap: 4vh;
    width: 100%;

    //Laptop
    @media (min-width: 1200px) {
        .smaller-display{
            display: none;
        }
        .full-screen{
            display:contents;
        }
        .header{
            max-width: 100%;
            height: 100vh;
            font-family: 'Manrope', sans-serif;

            .icon1{
                position: absolute;
                display: flex;
                top:10%;
                width: 3%;
                right: 10%;
            }
            .icon2{
                position: absolute;
                display: flex;
                top:10%;
                width: 3%;
                right: 15.2%;
            }

            .intro-text{               
                position: absolute;
                display: inline-block;
                word-wrap: break-word;
                width: 684px;
                color: rgb(0, 110, 229);
                top: 24vh;
                left: 7.7%;
                z-index: 10;
            }

            #headline{
                font-size: 4.72vh;
            }
            #tagline{
                font-weight: 450;
                margin-top: -1.5vh;
                font-size: 2.3vh;
            }
            #introduction{
                font-weight: 450;
                margin-top: -2.5vh;
                font-size: 2.35vh;
            }
            
            @keyframes filling-intro {
                from{
                    width: 0%;
                }to{
                    width: 50%;
                }
            }

            .b1{
                position: absolute;
                display: inline-flex;
                margin-top: -1vh;
                margin-left: 0vw;
            }
            .b1:hover{
                text-transform: uppercase;
                font-weight: 500;
            }
            .b2{
                position: absolute;
                display: inline-flex;
                margin-top: 9vh;
                margin-left: -0.8vw;
            }
            .b2:hover{
                text-transform: uppercase;
                font-weight: 500;
            }

            #button1{
                display: inline-block;
                border: 2px solid  rgb(0, 110, 229);
                border-radius: 1em;
                background-color: rgb(255, 255, 255, 0%);
                color: rgb(0, 110, 229);
                font-size: 2.6vh;
                padding-left: 19.1vh;
                padding-right: 19.1vh;
                margin-top: 1.2vh;
                text-decoration: none;
                cursor: pointer;
            }

            .talk2me{
                position: absolute;
                display: flex;
                font-size: 5vh;
                text-decoration: none;
                font-style: italic;
                color: rgb(0, 110, 229);
                z-index: 11;
                top: 10vh;
                left: 81.5vw;
            }

            .talk2me:hover{
                font-weight: 700;
                text-transform: uppercase;
                left: 79.5vw;
            }

        }

        .banner-web{
            width: 100%;
            position:relative;
            z-index: 0;
        }

        .walking{
            position: absolute;
            display: flex;
            width: 16%;
            top: 47vh;
            left: 33vw;
            animation: figure1 15s ease-in-out infinite alternate;
            animation-fill-mode:  forwards;
        }

        @keyframes figure1 {
            from {
                transform: translateX(0%);
            }
            to {
                transform: translateX(10%);
            }
        }

        .main-project_container{
            // background-color: rgba(202, 202, 202, 0.894);
            background-image: linear-gradient(rgb(255, 255, 255), rgba(157, 157, 157, 50%));
            z-index: 20;
            
        }
        
        .project-container{
            margin-top: 10%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            z-index: 14;
            justify-content: center;
            align-items: center;
            margin-bottom: -0.8%;
        }

        .ux-etc__project{
            margin-left: 1.7%;
            margin-right: 1.7%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            z-index: 14;
            justify-content: center;
            align-items: center;
            padding-bottom: 5%;

        }
        .project_section{
            background-color: rgb(0, 110, 229);
            margin-bottom: 3%;
        }

        .project_section_title{
            display: hidden inline-block;
            color: white;
            animation: sliding-title 12s linear infinite  ;
        }
          
          @keyframes sliding-title  {
            from {
                margin-left: 0%;
                width: 100%;
                height: 10%;
            } to {
                margin-left: 100%;
                width: 100%;
                height: 10%;
            }
          }



        .project{
            border: 2px solid rgb(255, 255, 255);
            background-color: white;
            color: rgb(97, 97, 97);
            box-shadow: 5px;
            border-radius: 1em;
            // padding-left: 10%;
            // padding-right: 10%;
            // padding-top: 5%;
            height: 66.5vh;
            margin-left: 3% ;
            margin-right: 3% ;
            margin-top: 2.5vh;
            border-image-width: 40%;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 0.5px 0.5px 0.5px rgba(240, 240, 240, 100%)
        }    
        
        .project_ux-etc{
            border: 2px solid rgb(255, 255, 255);
            background-color: white;
            color: rgb(97, 97, 97);
            box-shadow: 5px;
            border-radius: 1em;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 1%;
            height: 50vh;
            margin-left: 2.5% ;
            margin-right: 2.5% ;
            margin-top: 5.1%;
            border-image-width: 40%;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow: 0.5px 0.5px 0.5px rgba(240, 240, 240, 100%)
        }
        .arch-project-container{
            margin-top: 0.3%;
            margin-left: 2.0%;
            margin-right: 2.0%;
        }

        .arch-nav{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            z-index: 15;
            justify-content: center;
            align-items: center;
        }

        .arch-project{
            border: 2px solid rgb(255, 255, 255);
            background-color: white;
            color: rgb(97, 97, 97);
            box-shadow: 5px;
            border-radius: 1em;
            padding-left: 3%;
            padding-right: 3%;
            padding-top: 5%;
            height: 60vh;
            margin-left: 2.5% ;
            margin-right: 2.5% ;
            margin-top: 2vh;
            border-image-width: 40%;
            text-align: center;
            justify-content: center;
            align-items: center;
            box-shadow: 0.5px 0.5px 0.5px rgba(240, 240, 240, 100%);
        }    

        .plink{
            width: 20%;
        }

        .p-card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .p-card img{
            margin-left: 2.5%;
            width: 94%;
            border-radius: 1em;
        }
        
        .p-card2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .p-card2 img{
            margin-top: 1%;
            margin-left: 0%;
            width: 67%;
        }

        .text-card{
            height: 50vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 15%;
        }
        

        
        // .project p{
        //     font-size: 1em;
        // }
        
        // .p2-banner{
        //     padding-top: 0%;
        // }
        // .p3-banner{
        //     padding-top: 0%;
        // }

        .footer{
            z-index: 8;
            margin-top: -2%;
            background-color: rgba(202, 202, 202, 0.894);
            clear: both;
            color: rgb(48, 48, 48);
            position: relative;
            display: block;
        }
        .footer-text-wraper{
            padding-left: 7.6%;
            margin-top: 5%;
            color: white;
        }
        .footer-text-wraper p{
            margin-top: -0.5%;
        }
    }
}

//smaller screen///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.full-screen{
    display: none;
}
.smaller-display{
    top: 0;
    position: relative;
    display: flex;
    max-width: 100%;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    color:rgb(0, 110, 229);
    justify-content: center;

    .sd-banner{
        width: 100%;
        position: relative;
        margin-top: 0;
    }
    .sd-logo{
        top: 10%;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 20%;
    }
    .sd-text-wrap{
        padding: 20%;
        position: absolute;
        display: inline-block;
        font-family: 'Manrope', sans-serif;
        color:rgb(0, 110, 229);
        text-align: center;
        top: 4%
    }
    h1{
        font-size: 2.5em;
    }
    h4{
        font-size: 1.2em;
        margin-top: -6%;
    }
    .sd-b1{
        justify-content: center;
        font-size: 1.2em;
        // position: absolute;
        display: inline-flex;
        // margin-top: 3vh;
        // margin-left: -9vw;
        padding: 4px;
        border: 2px solid rgb(0, 110, 229);
        border-radius: 2em;
    }
    .sd-b1:hover{
        text-transform: uppercase;
        font-weight: 500;
    }

    .project-container{
        margin-top: 5vh;
        display: grid;
        padding: 50%;
        grid-template-columns: repeat(1, 1fr);
        z-index: 14;
    }

    .project{
        background-color: rgb(240, 240, 240);
        height: 80vh;
        margin: 2vh 2vh 2vh;
    }   

}



